@using ProductManager.Models
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<PublishingHouse>
@await Html.PartialAsync("Header")

<body>
	<div class="container-fluid">
		<div class="row header">

			<div class="text-center col-sm-12">
				<h1>
					Sunflower
				</h1>
			</div>
		</div>

		@await Html.PartialAsync("Menu")
		@*my work is here*@

		<div class="row content">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<div>

					<table class="table table-striped ">
						<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>Phone</th>
								<th>URL</th>
								<th>Action</th>

							</tr>
						</thead>
						<tbody>

							@foreach (PublishingHouse o in Model)
							{
								<tr>
									<td><a href="/company/detail/@o.PublisherId" class="text-primary">@o.Name</a></td>
									<td>@o.Address</td>
									<td>@o.Phone </td>
									<td>
										@if (string.IsNullOrEmpty(o.Url))
										{
											<i>Still not available</i>
										}
										else
										{
											<a href="@o.Url">Redirect</a>
										}
									</td>
									<td>
										<a class="text-info" href="/company/detail/@o.PublisherId">Details</a>
										<br>
										<a class="text-info" href="#">Update</a>
									</td>
								</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>


	
	</div>


</body>
</html>