@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@await Html.PartialAsync("Header")

<body>
	<div class="container-fluid">
		<div class="row header">
			<div class="text-center col-sm-12">
				<h1>
					Sunflower
				</h1>
			</div>
		</div>

		@await Html.PartialAsync("Menu")
		@*my work is here*@



		
		@*@await Html.PartialAsync("footer")*@
	</div>

	
</body>
</html>