@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row footer bottom">
	<div class="text-center col-sm-12">
		thanks for your great working today
	</div>
</div>

<style>
	.footer {
		bottom: 0;
		margin-top: 20px;
		padding: 15px 0px;
		background-color: #b2b2a8;
		border-top: 1px solid black;
	}
</style>